<!DOCTYPE html>
<html style="background-color: #262626">

<head>
    <title>Conversion</title>
</head>

<body>

    <h1 style="color: white; text-align: center;">Conversion</h1>

    <style>
        input,
        label,
        button {
            font-size: xx-large;
        }

        input {
            color: black;
        }

        
    </style>

    <div style = "text-align: center;">
    <form method = 'POST'>
        <label style="color: white;">USD to CAD Conversion Rate: </label>
        <input readonly type="text" value="{{usdtocadrate}}">
        <br>
        <br>
        <label style="color: white;">Current USD Balance: </label>
        <input readonly type="text" value="${{usdsum}}">
        <br>
        <br>
        {% csrf_token %}
        <label style="color: white;">Conversion USD Amount: </label>
        {{form.depositUSD}}
        <input type="submit" value="Convert to CAD" min="0" style="background-color: lightgreen;">
        <br>
        <br>
        <br>
        <br>
        <label style="color: white;">CAD to USD Conversion Rate: </label>
        <input readonly type="text" value="{{cadtousdrate}}">
        <br>
        <br>
        <label style="color: white;">Current CAD Balance: </label>
        <input readonly type="text" value="CA${{cadsum}}">
        <br>
        <br>
        {% csrf_token %}
        <label style="color: white;">Conversion CAD Amount: </label>
        {{form.depositCAD}}
        <input type="submit" value="Convert to USD" min="0" style="background-color: lightgreen;">
        <br>
        <br>
        <br>
    </form>
    <a href={% url 'homepage' %}><button style = "background-color: lightgreen;">HOME</button></a>
    </div>
    

</body>

</html>