<!DOCTYPE html>
<html>
<head>
    <title>Conversion</title>
</head>
<body>

<h1>Conversion</h1>

<style>
    input, label, button{
        font-size: xx-large;
    }
    input{
        color: green;
    }
</style>

<form>
  <label>Current USD Balance: </label>
  <input readonly type="text" value="Current USD Balance">
  <br>
  <br>
  <label>Conversion USD Amount: </label>
  <input type="text" value="Conversion USD Amount"> 
  <button type="button" onclick="alert('USD TransactionID')">CONFIRM</button>
  <br>
  <br>
  <br>
  <br>
  <label>Current CAD Balance: </label>
  <input readonly type="text" value="Current CAD Balance">
  <br>
  <br>
  <label>Conversion CAD Amount: </label>
  <input type="text" value="Conversion CAD Amount"> 
  <button type="button" onclick="alert('CAD TransactionID')">CONFIRM</button>
  <br>
  <br>
  <br>
  </form>

  <a href={% url 'homepage' %}><button>HOME</button></a>

</body>
</html>