<!DOCTYPE html>
<html style="background-color: #262626">

</html>

<head>
    <title>Deposit</title>
</head>

<body>

    <h1 style="color: white; text-align: center;">Deposit</h1>

    <style>
        input,
        label,
        button {
            font-size: xx-large;
        }

        input {
            color: black;
        }
    </style>

    <div style="text-align: center;">
        <form method='POST'>
            <label style="color: white;">Current USD Balance: </label>
            <input readonly type="decimal" value=${{usdsum}}>
            <!--"Current USD Balance" -->
            <br>
            <br>


            {% csrf_token %}
            <label style="color: white;">Deposit USD Amount:</label>
        {{form.depositUSD}}
        <input type="submit" value="Confirm" min="0" style="background-color: lightgreen;">

                <br>
                <br>
                <br>
                <br>
                <label style="color: white;">Current CAD Balance:</label>
                <input readonly type="text" value=CA${{cadsum}}>
                <br>
                <br>

                {% csrf_token %}
                <label style="color: white;">Deposit CAD Amount: </label>
                {{form.depositCAD}}
                <input type="submit" value="Confirm" style="background-color: lightgreen;">
        </form>
        <br>
        <br>



        <a href={% url 'homepage' %}><button style="background-color: lightgreen;">HOME</button></a>
        </div>

</body>

</html>