<!DOCTYPE html>
<html style="background-color: #262626">
<head>
    <title>Details</title>
</head>
<body>

    <h1 style="color: white; text-align: center;">Details</h1>

<style>
    input, label, button{
        font-size: xx-large;
    }
    input{
        color: black;
    }
</style>

<div style="text-align: center;">
<form>

  <label style="color: white;">Username: </label>


  <input readonly type="text" value="{{username}}">

  <br>
  <br>

  <label style="color: white;">Bank Account: </label>
  <input readonly type="text" value="{{bankAcct}}">
  <br>
  <br>
  <label style="color: white;">Debit Card: </label>

  <input type="text" value="{{debitcard}}"> 
  <br>
  <br>
  <label style="color: white;">CVV: </label>
  <input readonly type="text" value="{{cvv}}">
  <br>
  <br>
  <label style="color: white;">Expiration Date: </label>
  <input readonly type="text" value="{{exp_date}}">
  <br>
  <br>
  </form>

  <a href={% url 'homepage' %}><button style="background-color: lightgreen;">HOME</button></a>
  </div>

</body>
</html>