<!DOCTYPE html>
<html>
<head>
    <title>Details</title>
</head>
<body>

<h1>Details</h1>

<style>
    input, label, button{
        font-size: xx-large;
    }
    input{
        color: green;
    }
</style>

<form>
  <label>Username: </label>
  <input readonly type="text" value="">
  <br>
  <br>
  <label>Date of Birth: </label>
  <input type="text" value=""> 
  <br>
  <br>
  <label>Bank Account: </label>
  <input readonly type="text" value="">
  <br>
  <br>
  <label>Debit Card: </label>
  <input type="text" value=""> 
  <br>
  <br>
  <br>
  </form>

  <a href={% url 'homepage' %}><button>HOME</button></a>

</body>
</html>