<!DOCTYPE html>

<html class="page">

<style>
    .buttonText {
        font-size: small;
        color: black;
        text-align: center;
        vertical-align: middle;
    }

    button {
        height: 10vh;
        width: 20vh;
        background-color: lightblue;
        display: inline-block;
        margin: 1vh;
        border-color: black;
        border-radius: .5vh;
    }

    .page {
        vertical-align: middle;
    }

    .title {
        font-size: xx-large;
    }
</style>

<head>
    <div style="color: orange;" class="title">Welcome, {{request.user.username}}</div>
</head>

<head>
    <div style="color: orange;">US Balance:{{usdsum}} CAD Balance:{{cadsum}} </div>
</head>

<div flex> </div>
<div style="margin: auto;">
    <div display:inline-block>
        <a href={% url 'deposit' %}><button>DEPOSIT</button></a>
        <a href={% url 'withdraw' %}><button>WITHDRAW</button></a>
        <a href={% url 'transfer' %}><button>TRANSFER</button></a>
    </div>

    <div display:inline-block>
        <a href={% url 'details' %}><button>DETAILS</button></a>
        <a href={% url 'conversion' %}><button>CONVERSION</button></a>
        <a href={% url 'logoutUser' %}><button style="background-color: rgb(250, 125, 125)" !override>LOG
                OUT</button></a>
    </div>
</div>
<div style="margin: auto">
    </a><button onclick="alert()" style="background-color: rgb(250, 125, 125)" !override>DELETE ACCOUNT</button>
</div>

<script>
    function alert() {
        if (confirm("Your existing balances will be withdrawn upon deletion. \n Would you like to proceed?") == true) {
            window.location.href = '{% url 'deactivate' %}';
        } else {
            userPreference = "Process Cancelled";
        }
    }
</script>

</html>