<!DOCTYPE html>
<html lang="en" style="background-color: #262626; font-size: xx-large;">
<!-- Bootstrap CDN link below for CSS and JS-->
<!-- All documentation can be found on https://getbootstrap.com/docs/3.4/css/ -->

<title>Login Page</title>

<body>
	<div style="text-align: center;">
		<h2 style="color: white;">Create an Account</h2>
		<br>
		<div class="container">
			<label style="color: white;">Create a username: </label>
			<input type="text" placeholder="username">
			<br>
			<br>
			<label style="color: white;">Enter your email: </label>
			<input type="text" placeholder="user@email.com">
			<br>
			<br>
			<label style="color: white;">Create a password: </label>
			<input type="text" placeholder="password">
			<br>
			<br>
			<label style="color: white;">Re-enter the password: </label>
			<input type="text" placeholder="password">
			<br>
			<br>
			<input type="submit" value="Create Account" style="background-color: lightgreen; font-size: x-large;">
		</div>
	</div>
</body>

</html>