<!DOCTYPE html>
<html style="background-color: #262626">

</html>>

<head>
    <title>Transfer</title>
</head>

<body>

    <h1 style="color: white; text-align: center;">Transfer</h1>

    <style>
        input,
        label,
        button {
            font-size: xx-large;
        }

        input {
            color: black;
        }
    </style>

    <div style="text-align: center;">
        <form method = 'POST'>
            <label style="color: white;">Current USD Balance: </label>
            <input readonly type="text" value="{{currentusdbalance}}">
            <br>
            <br>
            <label style="color: white;">Who to Transfer to: </label>
            <input type="text" value="{{destinationuser}}">
            <br>
            <br>
            {% csrf_token %}
            <label style="color: white;">Transfer USD Amount: </label>
            {{form.depositUSD}}
            <input type="text" value="Transfer USD Amount" min="0">
            <button type="button" onclick="alert('USD TransactionID')" style="background-color: lightgreen;">CONFIRM</button>
            <br>
            <br>
            <br>
            <br>
            <label style="color: white;">Current CAD Balance: </label>
            <input readonly type="text" value="{{currentcadbalance}}">
            <br>
            <br>
            <label style="color: white;">Who to Transfer to: </label>
            <input type="text" value="{{destinationuser}}">
            <br>
            <br>
            {% csrf_token %}
            <label style="color: white;">Transfer CAD Amount: </label>
            {{form.transferCAD}}
            <input type="text" value="Transfer CAD Amount">
            <button type="button" onclick="alert('CAD TransactionID')" style="background-color: lightgreen;">CONFIRM</button>
            <br>
            <br>
            <br>
        </form>
    

        <a href={% url 'homepage' %} ><button style="background-color: lightgreen;">HOME</button></a>
    </div>

</body>

</html>
