<!DOCTYPE html>
<html style="background-color: #262626">

</html>

<head>
    <title>Transfer</title>
</head>

<body>

    <h1 style="color: white; text-align: center;">Transfer</h1>

    <style>
        input,
        label,
        button {
            font-size: xx-large;
        }

        input {
            color: black;
        }
    </style>

    <div style="text-align: center;">
        <form method='POST'>
            <label style="color: white;">Current USD Balance: </label>
            <input readonly type="text" value="${{usdsum}}">
            <br>
            <br>

            {% csrf_token %}
            <label style="color: white;">Transfer USD Amount: </label>
            {{form.transferUSD}}

            <br>
            <br>

            <label style="color: white;">Current CAD Balance: </label>
            <input readonly type="text" value="CA${{cadsum}}">
            <br>
            <br>


            {% csrf_token %}
            <label style="color: white;">Transfer CAD Amount: </label>
            {{form.transferCAD}}


            <br>
            <br>

            <label style="color: white;">Who to Transfer to: </label>
            {{form.destinationUser}}
            <input type="submit" value="Confirm" onclick="alert('ARE YOU SURE YOU WANT TO DO THIS?')"
                style="background-color: lightgreen;">
            <br>
            <br>
        </form>


        <a href={% url 'homepage' %}><button style="background-color: lightgreen;">HOME</button></a>
    </div>

</body>

</html>