<!DOCTYPE html>
<html style="background-color: #262626">

<head>
    <title>Withdraw</title>
</head>

<body>

    <h1 style="color: white; text-align: center;">Withdraw</h1>

    <style>
        input,
        label,
        button {
            font-size: xx-large;
        }

        input {
            color: black;
        }
    </style>

    <div style="text-align: center;">
        <form method='POST'>
            <label style="color: white;">Current USD Balance: </label>
            <input readonly type="text" value="${{usdsum}}">
            <br>
            <br>
            {% csrf_token %}
            <label style="color: white;">Withdraw USD Amount:</label>
            {{form.withdrawUSD}}
            <input type="submit" value="Confirm" min="0" style="background-color: lightgreen;">
            <br>
            <br>
            <br>
            <br>
            <label style="color: white;">Current CAD Balance: </label>
            <input readonly type="text" value="CA${{cadsum}}">
            <br>
            <br>
            <label style="color: white;">Withdraw CAD Amount: </label>
            {{form.withdrawCAD}}
            <input type="submit" value="Confirm" style="background-color: lightgreen;">

            <br>
            <br>
            <br>
        </form>

        <a href={% url 'homepage' %}><button style="background-color: lightgreen;">HOME</button></a>
    </div>

</body>

</html>